<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.resources.mapper.TagsMapper">

    <resultMap type="Tags" id="TagsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="enabled"    column="enabled"    />
        <result property="deleted"    column="deleted"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTagsVo">
        select id, name, enabled, deleted, create_by, create_time, update_by, update_time from tags
    </sql>

    <select id="selectTagsList" parameterType="Tags" resultMap="TagsResult">
        <include refid="selectTagsVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="enabled != null  and enabled != ''"> and enabled = #{enabled}</if>
            <if test="deleted != null  and deleted != ''"> and deleted = #{deleted}</if>
        </where>
    </select>

    <select id="selectTagsById" parameterType="Long" resultMap="TagsResult">
        <include refid="selectTagsVo"/>
        where id = #{id}
    </select>

    <insert id="insertTags" parameterType="Tags" useGeneratedKeys="true" keyProperty="id">
        insert into tags
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="enabled != null and enabled != ''">enabled,</if>
            <if test="deleted != null and deleted != ''">deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="enabled != null and enabled != ''">#{enabled},</if>
            <if test="deleted != null and deleted != ''">#{deleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTags" parameterType="Tags">
        update tags
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="enabled != null and enabled != ''">enabled = #{enabled},</if>
            <if test="deleted != null and deleted != ''">deleted = #{deleted},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--逻辑删除-->
    <update id="deleteTagsById" parameterType="Long">
        update tags set deleted = '1' where id = #{id}
    </update>
    <update id="deleteTagsByIds" parameterType="String">
        update tags set deleted = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!--<delete id="deleteTagsById" parameterType="Long">
        delete from tags where id = #{id}
    </delete>

    <delete id="deleteTagsByIds" parameterType="String">
        delete from tags where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>-->

</mapper>
